$ cat /etc/systemd/system/suspend-fix-t2.service 
[Unit]
Description=Workaround for brcmfmac suspend/resume issues
Before=hibernate.target
StopWhenUnneeded=yes

[Service]
User=root
Type=oneshot
RemainAfterExit=yes

ExecStart=-/etc/systemd/system-sleep/t2-suspend.sh pre hibernate
ExecStop=-/etc/systemd/system-sleep/t2-suspend.sh post hibernate

[Install]
WantedBy=hibernate.target
